*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
.wrap{
    /* width: auto; */
   
}
.inner{
    width: 1480px;
    margin: auto;

}
/* 상단 */
header{
    border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.header-top{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.top-right ul{
    display: flex;
    padding: 20px;
    gap: 10px;
    /* background-color: #0f398f; */
}
.top-right ul li{
    font-size: 14px;
}
.top-right ul li a i{
    padding-right: 15px;
}
/* 로고 */
.logo{
    padding: 20px;
    font-size: 28px;
}
/* 상단 메뉴 */
.manu ul{
    display: flex;
}
.manu ul i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    padding: 20px;
    text-align: center;
    font-size: 47px;
}
.manu ul li{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}
.manu ul li a:hover{
    text-decoration: underline;
}
/* 상단 카테고리 */
.kategorie ul{
    display: flex;
    align-items: center;
}
.kategorie ul li{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}
.kategorie ul li a:hover{
    text-decoration: underline;
}
.kategorie ul li:last-child a::before{
    position: absolute;
    content: "";
    height: 22px;
    width: 1px;
    background-color: #bdbdbd;
    left: 0;
    /* top: 6px; */
}
.kategorie ul li:last-child{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* 메인 */
main .inner{
   
    /* background-color: blanchedalmond;    */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
/* 사이드바 */
.side-bar{
    width: 15%;
    /* background-color: rgb(173, 173, 255); */
}
.side-bar p{
    border-bottom: 3px solid #333;
    /* margin-bottom: 40px; */
    /* padding-bottom: 20px; */
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.side-bar ul li{
    padding: 20px;
}   
.side-bar ul li a{
    color: #7a7a7a;
}
.side-bar ul li a:hover{
    color: #111;
    cursor: pointer;
    text-decoration: underline;
}
.main-right{
    padding-top: 50px;
    width: 85%;
     /* background-color: chartreuse; */
}
/* 메인 카테고리 */
.top-manu{
    /* display: flex; */
}
.main-kategorie{
    /* color: #cecece; */
    /* background-color: beige; */
    border: #c4c4c4 solid 1px;
}
.main-kategorie ul{
    display: flex;
    padding: 10px;
    gap: 20px;
}
.main-kategorie ul li a{
    color: #7a7a7a;
    display: block;
    position: relative;
}
.main-kategorie ul li a:hover{
    color: #111;
}
.main-kategorie ul li a::after{
    position: absolute;
    top: 2px;
    right: -11px;
    content: "";    
    /* display: inline-block; */
    width: 1px;
    height: 20px;
    /* margin: 0 20px; */
    background-color: #bdbdbd;
}
.main-kategorie ul li:last-child a::after{
    content: none;
}
.close-wrap{
    background-color: #fff;
}
.close-list{
    display: flex;
}
/* .close-inner{
    display: flex;
} */
.card{
  
    padding: 15px;
}
/* 상품 이미지 */
.card img{
    width: 100%;
}
/* 상품 설명 */
.close-info-list p:nth-child(2){
    font-weight: bold;
}
.close-info-list p:last-child{
    font-size: 12px;
    display: inline-block;
    color: #666;
    border: #dddddd solid 1px;
    border-radius: 1px;
    background-color: #ebebeb;
}
/* 하단 */
.footer{
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
}
.footer .inner{
    display: flex;
}
.footer .text{
    font-size: 12px;
    padding: 20px;
}
.footer .icon{
    padding: 20px;
    display: flex;
}